			<div class="pl-3">

				<ul class="widget-categorias boxed-style">
					<h3 class="widget-title ">Categorias</h3>
					 <% Category.all.each do |category| %>

			          
			          
			          		<%= link_to category do %>
			          			<li><%= category.name   %></li>
			          		<% end %>
			          	
			         

			        <% end %>
				</ul>
			</div>
