// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	box-sizing: border-box;
}


.container-fluid{
	padding: 0px !important
}

$body-color: #f7f7f7;
$font-color-a:  #474747 ;
$line-color-a: #c8c8c8;

$theme-color-yellow: #f2cc3f;
$theme-color-blue: #4299cb;



@mixin contador-mixin {
	color:  #c8c8c8 ;
	font-size: 0.8rem;
}

///ESTILOS///

.boxed{
	background-color: white !important;
	border: 1px solid #e8e8e8; 
	box-shadow: 0px 0px 2px #f3f3f3;
	padding: 2%;
}

.elegant{
	box-shadow: 1px 1px 2px #d8d8d8;
}


@mixin btn-mixin{
	background-color: $theme-color-yellow;
	border-color: $theme-color-yellow;
}

///ESTILOS END///


//css general//
.skin{
	background-color: $body-color;
	padding: 2%;
}
.gap{
	padding: 1%;
	
}



.btn{
	border-radius: 0px !important;
	transition: all .8s;
}

.btn:hover{
	box-shadow: 1px 1px 2px #d8d8d8;
}
//css NAVBAR //
.logo{
	width: 200px;
}

.navbar{
	box-shadow: 0px 0px 3px #999;
	background-color: white;
	.dropdown-menu.show{
		background-color: $theme-color-blue !important;
		a{
			color: white !important;
			transition: .6s;
		}
		a:hover{
			color: $theme-color-blue !important;
			font-size: larger;
		}
	}
	.dropdown{
		

	}
	.btn-categories{
		@include btn-mixin;
	}

	.btn-search{
		@include btn-mixin;
	}
}


// NAVBAR END//

//css general fin


.recently-prod-box{
	
}

.card{
	border-radius: 0px !important;
	padding: 0.8% !important;

}


////search view///

ul.category-list{
	
	list-style: none !important;
	width: 100%;
	
	li{
		    
		a{
			display: inline-block;
			text-decoration: none !important;
			color: $font-color-a;
			
			
			margin-bottom: 1px;
			.contador{
				display: inline-block;
				@include contador-mixin;
				margin-bottom: 0px !important;

			}

		}
	}
}

///search view end ///

