// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: #f8f8f8;
}


.container-fluid{
	padding: 0px !important
}

$body-color: #f7f7f7;
$font-color-a:  #474747 ;
$line-color-a: #c8c8c8;

$theme-color-yellow: #f2cc3f;
$theme-color-blue: #4299cb;
$theme-color-light-blue: #65acd4;

$price-color: #4299cb;



@mixin contador-mixin {
	color:  #c8c8c8 ;
	font-size: 0.8rem;
}

@mixin bkg-img-mixin($w-size, $h-size, $b-size){
    position: relative;
    width:  $w-size;
    height: $h-size;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     $b-size;
    padding: 1%;
    margin: 0 auto;
}


///ESTILOS///

.boxed{
	background-color: white !important;
	border: 1px solid #e8e8e8; 
	box-shadow: 0px 0px 2px #f3f3f3;
	padding: 2%;
}

.elegant{
	box-shadow: 1px 1px 2px #d8d8d8;
}


@mixin btn-mixin{
	background-color: $theme-color-yellow;
	border-color: $theme-color-yellow;

}

///ESTILOS END///


//css general//
.skin{
	background-color: $body-color;
	padding: 2%;
}
.gap{
	padding: 1%;
	
}



.btn{
	border-radius: 0px !important;
	transition: all .8s;
}

.btn:hover{
	box-shadow: 1px 1px 2px #d8d8d8;
}


.boxed-style{
	padding: 4% 0 4% 2%;
	background-color: white;
	border: 1px solid #e8e8e8;
	bottom: 0px;
	transition: all .8s;
}
.boxed-style:hover{
	position: relative;
	bottom: 3px;
	box-shadow: 0px 0px 5px #c8c8c888;
}
//css NAVBAR //
.logo{
	width: 200px;
}

.navbar{
	box-shadow: 0px 0px 3px #999;
	background-color: white;
	.dropdown-menu.show{
		background-color: $theme-color-blue !important;
		a{
			color: white !important;
			transition: all .6s;
		}
		a:hover{
			color: $theme-color-blue !important;
			font-size: larger;
		}
	}
	.dropdown{
		

	}
	.btn-categories{
		@include btn-mixin;
	}

	.btn-search{
		@include btn-mixin;
	}
	.btn-sale{
		 border-width: 2px;  
   		 border-style: dashed;
   		 border-color: #d3d234;
   		 transition: all .8s;
   		 border-radius: 0;
   		 p{
   		 	color: #c8c8c8;
   		 }

	}
	.btn-sale:hover{
		border-radius: 8px !important;
	}
}


// NAVBAR END//


///FORMS////

.form-box{
	padding: 20px;
    background-color: white;
    color: $theme-color-light-blue;
    border: 1px solid #c8c8c8;
    box-shadow: 0px 0px 2px #e8e8e8;
    border-radius: 3px;
    position: relative;
    transition: all .3s;
    bottom: 0px;
    input{
    	border: 2px solid $theme-color-light-blue !important;
    }
    .form-btn{
		@include btn-mixin;
		border: none !important;
		color: white;
		
    }
    
}
.form-box:hover{
	
	bottom: 5px;
	
}


/// END FORMS ////

//css general fin


.recently-prod-box{
	
}

.card{
	border-radius: 0px !important;
	bottom: 0px;
	transition: all .6s;
	.card-img-box{
		background-image: url('exampleGuitar.jpg');
		@include bkg-img-mixin(100%, 12rem, cover)

	}
	.card-body{
		padding: 5%;

		.card-title{
			font-weight: bolder;
		}
		.card-text{
			color: $price-color;
			text-align: center;
			font-size: 1rem;
			
		}
		a{
			color: white !important;
		}
		.card-link{
			@include btn-mixin;
			h5{
				margin-bottom: 0;
				text-align: right !important;
				font-size: .8rem;
				padding: 2%;
				
			}
		}
	}
	

}
.card:hover{
	position: relative;
	bottom: 3px;
	box-shadow: 0px 0px 5px #c8c8c888;
}

//////widget////
.widget-title{
	color: #c8c8c8;
	font-size: 1rem;
	padding-left: 3rem;

}

.widget-categorias{
	li{
		list-style: none !important;
		transition: all .8s;
		margin-left: 2%;
	}
	a{
		transition: all .8s;
		color: #474747 !important;
		text-decoration: none !important;

	}
	a:hover{
		background-color: $theme-color-yellow;
		box-shadow: 0 0 5px #c8c8c8;

		
	}
	li:hover{
		font-size: larger;
		
	}
}

//////widget////
////search view///

ul.category-list{
	
	list-style: none !important;
	width: 100%;
	
	li{
		    
		a{
			display: inline-block;
			text-decoration: none !important;
			color: $font-color-a;
			
			
			margin-bottom: 1px;
			.contador{
				display: inline-block;
				@include contador-mixin;
				margin-bottom: 0px !important;

			}

		}
	}
}

///search view end ///

