// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$theme-color-yellow: #f2cc3f;

@mixin btn-mixin{
	background-color: $theme-color-yellow;
	border-color: $theme-color-yellow;

}

.product-show-box{
	background-color: white;
	padding: 3%;
	border: 1px solid #e8e8e887;
	.title-box{
		
		.product-show-title{
			font-size: 3rem;
			font-weight: bolder;
		}
		.extra-info{
			font-size: 1rem;
			color: #c8c8c8;
		}
	}
	.image-box{

	}
	.description-box{
		background-color: $theme-color-yellow;
		padding: 2%;
		.description-content{
			padding: 3%;
			border-radius: 20px;
			background-color: white;

		}
	}
}

    .form-btn{
		@include btn-mixin;
		border: none !important;
		color: white;
		
    }

.comment-list{
	padding-left: 0px;
	li{
		border-bottom: 1px dashed #d8d8d8;
		padding: 2%;
		list-style: none !important;
	}
}

.carousel-pro, .slick-list, .slick-track{
	heigh: 100% !important;
}